<template>
    <lightning-card variant="Narrow" title="Visualizador" icon-name="standard:account">
        <lightning-record-edit-form density="auto">
            <div class="slds-form" role="list">
                <div class="slds-form__row">
                    <div class="slds-form__item" role="listitem">
                        <div
                            class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                            <span class="slds-form-element__label">Nombre</span>
                            <div class="slds-form-element__control">
                                <div class="slds-form-element__static">{nombre}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-form__row">
                    <div class="slds-form__item" role="listitem">
                        <div
                            class="slds-form-element slds-form-element_edit slds-form-element_readonly slds-form-element_horizontal slds-hint-parent">
                            <span class="slds-form-element__label">Apellido</span>
                            <div class="slds-form-element__control">
                                <div class="slds-form-element__static">{apellido}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </lightning-record-edit-form>
    </lightning-card>
</template>